<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
    version="2.4">
    <filter>
      <filter-name>SetCharacterEncoding</filter-name>
      <filter-class>com.ovt.common.web.util.ChangeCharsetFilter</filter-class>
      <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
    </filter>
    <filter>
      <filter-name>webFramePagesFilter</filter-name>
      <filter-class>com.ovt.common.web.filter.WebFramePagesFilter</filter-class>
    </filter>
    <filter>
      <filter-name>SessionFilter</filter-name>
      <filter-class>com.ovt.common.web.filter.SessionFilter</filter-class>
    </filter>
    <filter>
      <filter-name>SessionInvalidFilter</filter-name>
      <filter-class>com.ovt.idtv.boss.web.customer.filter.SessionInvalidFilter</filter-class>
    </filter>
    <filter>
      <filter-name>CustomerFuncRightFilter</filter-name>
      <filter-class>com.ovt.idtv.boss.web.customer.filter.CustomerFuncRightFilter</filter-class>
    </filter>
    <!-- pluginFilterStart --><!-- pluginFilterEnd -->
    <filter-mapping>
      <filter-name>SetCharacterEncoding</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>webFramePagesFilter</filter-name>
      <url-pattern>/common/*</url-pattern>
      <dispatcher>FORWARD</dispatcher>
	  <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
      <filter-name>SessionFilter</filter-name>
      <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>SessionInvalidFilter</filter-name>
      <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>CustomerFuncRightFilter</filter-name>
      <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- pluginFilterMappingStart --><!-- pluginFilterMappingEnd -->
    <!-- pluginListenerStart --><!-- pluginListenerEnd -->
    <listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>convertNull</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/common/struts/struts-role-config.xml,
				/common/struts/struts-monitor-config.xml,
				/WEB-INF/config/struts-sysext-config.xml,
				/WEB-INF/config/struts-user-config.xml,
				/WEB-INF/config/struts-resource-config.xml,
				/WEB-INF/config/struts-business-config.xml,
				/WEB-INF/config/struts-charge-config.xml,
				/WEB-INF/config/struts-finance-config.xml,
				/WEB-INF/config/struts-operlog-config.xml,
				/WEB-INF/config/struts-message-config.xml,
				/WEB-INF/config/struts-datasync-config.xml,
				/WEB-INF/config/struts-stat-config.xml,
				/WEB-INF/config/struts-report-config.xml,
				/WEB-INF/config/struts-workOrder-config.xml
				<!-- pluginStrutsConfigStart --><!-- pluginStrutsConfigEnd -->
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	 <servlet>
		<servlet-name>StartUpTool</servlet-name>
		<servlet-class>
			com.ovt.common.web.startup.StartUpTool
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--
	<servlet>
		<servlet-name>StartUpTool</servlet-name>
		<servlet-class>
			com.ovt.idtv.boss.vod.init.servlet.StartUpTool
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>-->
	<servlet>
		<servlet-name>Menu</servlet-name>
		<servlet-class>
			com.ovt.common.web.rights.struts.action.Menu
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebFrameServiceImpl</servlet-name>
		<servlet-class>
			com.ovt.common.web.qlv.gwt.WebFrameServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PluginQueryServlet</servlet-name>
		<servlet-class>
			com.ovt.common.web.plugins.common.PluginQueryServlet
		</servlet-class>
	</servlet>
  <servlet>
  	<servlet-name>dwr-invoker</servlet-name>
  	<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  	<!-- pluginDwrInitParamStart --><!-- pluginDwrInitParamEnd -->
  	<init-param>
  		<param-name>debug</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </servlet>
    <servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
	</servlet>
	 <servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>
			com.ovt.report.servlet.ReportServlet
		</servlet-class>
  	</servlet>
	<servlet>
		<servlet-name>WSServlet</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>autoCleanTaskLog</servlet-name>
		<servlet-class>com.ovt.idtv.boss.finance.scheduler.AutoCleanTaskLog</servlet-class>
		<init-param >
		<param-name>autocharge</param-name>
		<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 <!-- pluginServletStart --><!-- pluginServletEnd -->
	<servlet-mapping>
		<servlet-name>PluginQueryServlet</servlet-name>
		<url-pattern>/remotePluginQuery</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebFrameServiceImpl</servlet-name>
		<url-pattern>/jsp/common/webframe/ws</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>Menu</servlet-name>
		<url-pattern>/common/jsp/frame/menu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Menu</servlet-name>
		<url-pattern>*.menu</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dwr-invoker</servlet-name>
  	<url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/ResourceManageSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/UserManageSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/SysManageSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/SerivceManageSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/SysServiceSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/UBISOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/SecurityAuthSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/PrincipalManagementSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/PackageManagementSOAP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/GrantManagementSOAP</url-pattern>
	</servlet-mapping>
 	<servlet-mapping>
  		<servlet-name>ReportServlet</servlet-name>
  		<url-pattern>/ajaxReportServlet.do</url-pattern>
  	</servlet-mapping>
     <!-- pluginServletMappingStart --><!-- pluginServletMappingEnd -->
    
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
    <!-- pluginWelcomeFileListStart --><!-- pluginWelcomeFileListEnd -->
		<welcome-file>/common_extends/jsp/frame/login.jsp</welcome-file>
	</welcome-file-list>
	 <error-page>
	    <exception-type>java.lang.Throwable</exception-type>
		<location>/cms/common/error.jsp</location>
	</error-page>
	
	
	<taglib>
		<taglib-uri>/tags/app</taglib-uri>
		<taglib-location>/common/taglib/app.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/common/taglib/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/common/taglib/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/format</taglib-uri>
		<taglib-location>/common/taglib/format.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
		<taglib-location>/common/taglib/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>
			/common/taglib/struts-html.tld
		</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fn.tld</taglib-uri>
		<taglib-location>/common/taglib/fn.tld</taglib-location>
	</taglib>
	
    <!-- pluginTaglibStart --><!-- pluginTaglibEnd -->
  <!--  <servlet>
	    <servlet-name>StartTCPServer</servlet-name>
	    <servlet-class>com.ovt.idtv.boss.cre.inf.callcenter.impl.app.StartTCPServer</servlet-class>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
     --> 
     <!-- 增加点播服务 开始  -->
     
     <servlet>
		<servlet-name>BossSelfServiceWsdl</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	
		<load-on-startup>1</load-on-startup>
	</servlet>
		  <servlet>
		<servlet-name>BossRealTime</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 
	 <servlet-mapping>
	 	<servlet-name>BossRealTime</servlet-name>
	 	<url-pattern>/BossRealTimeSOAP</url-pattern>
	 </servlet-mapping>
	 <servlet-mapping>
		<servlet-name>BossSelfServiceWsdl</servlet-name>
		<url-pattern>/BossSelfServiceWsdlSOAP</url-pattern>
	</servlet-mapping>
     
     <!-- 增加点播服务 结束  -->
     <!-- 增加电视卡服务 开始-->
     <servlet>
  	<description>JAX-WS endpoint - TVCardWS</description>
  	<display-name>TVCardWS</display-name>
  	<servlet-name>TVCardWS</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TVCardWS</servlet-name>
  	<url-pattern>/TVCardWSSOAP</url-pattern>
  </servlet-mapping>
     <!-- 增加电视卡服务结束 -->
</web-app>
